## wget https://repo1.maven.org/maven2/org/projectlombok/lombok/1.18.24/lombok-1.18.24.jar
## java -jar lombok-1.18.24.jar config -g --verbose

config.stopbubbling=true
lombok.log.fieldisstatic=true
lombok.log.fieldname=LOG

lombok.anyconstructor.addconstructorproperties=true

lombok.noArgsConstructor.extraPrivate=true
lombok.accessors.chain=true